php_value date.timezone "Europe/Moscow"

DirectoryIndex index.html
AddDefaultCharset UTF-8
Options -Indexes

ErrorDocument 403 /str/403.html
ErrorDocument 404 /str/404.html

RewriteEngine On
RewriteRule ^index\.html$ / [R=301,L]

RewriteEngine On
RewriteRule ^index.html$ / [QSA,R]

RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.(.*)$
RewriteRule ^(.*)$ https://%1/$1 [L,R=301] 

# мои ограничения на файлы
RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^https://(www.)?wapmail\.ml/.*$ [NC]
RewriteRule .(jpg|gif|png|css|jar|jad|apk|zip|txt)$ - [F]

